
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-2" *ngFor="let beer of beers">
        <div class="card h-100">
            <img class="card-img-top mx-auto mt-2" [src]="beer.imageUrl" alt="" style="width: 60px;">
            <div class="card-body">
                <h4 class="card-title">{{beer.name}}</h4>
                <h6 >{{beer.abv}}</h6>
                <p class="card-text">{{beer.tagline}}</p>
            </div>
        </div>
        
    </div>
</div>


<div class="container">
    
</div>

<p *ngFor="let beer of beers">{{beer | json}}</p>
